.carrossel {
    top: 100px;
    width: 1600px;
    height: 340px;

    overflow: hidden;
}

.carrossel, .img-select {
    left: 50%;
    transform: translateX(-50%);
}

.carrossel, .arrow, .img-select {
    position: absolute;
}

.fotos {
    width: 900%;

    animation: carrossel;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

.fotos > img {
    width: 11.085%;
}

.arrow {
    top: 220px;

    background-color: white;
    width: 30px;
    height: 60px;
    text-align: center;
}
#arrow-left {
    left: 0;
    border-radius: 10px 100px 100px 10px;
}

#arrow-right {
    right: 0;
    border-radius: 100px 0px 0px 100px;
}
.arrow:hover {
    box-shadow: -10px 1px 15px 12px rgba(173, 173, 173, 0.48);
}
.arrow > svg {
    margin-top: 22px;
}
@keyframes carrossel {
    0%  { margin-left: 0; }
    4%  { margin-left: 0;}
    8%  { margin-left: -100%;}
    16% { margin-left: -100%;}
    22% { margin-left: -200%;}
    30% { margin-left: -200%;}
    38% { margin-left: -300%;}
    46% { margin-left: -300%;}
    54% { margin-left: -400%;}
    62% { margin-left: -400%;}
    70% { margin-left: -500%;}
    78% { margin-left: -600%;}
    86% { margin-left: -600%;}
    92% { margin-left: -700%;}
    100% {margin-left: -700%;}
}