.topline, .promocao, .inputfind, .inputfind_busca {
    height: 39px;
}

.promocao {
    width: 340px;
}

.logoml {
    width: 135px;
    height: 35px;

    margin-right: 30px;
}

.inputfind {
    width: 600px;

    border: none;
    border-radius: 3px;
}

.inputfind_busca {
    height: 26px;

    position: relative;
    left: -40px;

    margin-top: 8px;
    border-left: 1px solid lightgray;
}

.inputfind, .inputfind_busca {
    padding-left: 10px;
}

.icon-find {
    margin-top: 5px;
}
