.header-section-b {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 10px 0 30px;
    margin-bottom: 30px;
    height: 80px;

    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(90deg, #A90F90 68%, #0F1A52 88%, #000 9090%);
    color: white;
}

.section-b__title {
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 600;
}

.info-value::before {
    content: '';
    display: flex;
    float: left;
    width: 2px;
    height: 35px;

    margin-right: 3px;

    background-color: white;
}
.info-value p {
    font-size: 13px;
    text-decoration: line-through;
}
.info-value h1 {
    display: flex;
    font-weight: 600;
    font-size: 24px;
}
.info-value span {
    font-size: 15px;
    margin-left: 5px;
}

.spn {
    margin-top: 6px;
    font-weight: 100;
}

.info p:not(.info-value p) {
    font-size: 13px;
    
    padding: 2px;

    border-radius: 25px;
    background-color: #00A650;
}
