.products {
    margin: 30px;
}
.product {
    width: 20%;
    font-size: 15px;

}
.products, .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-b__services h3 {
    margin-left: 30px;
}

.product img {
    width: 86px;
    height: 86px;

    margin-right: 10px;

    border: 1px solid rgba(150, 150, 150, 0.404);
    border-radius: 50%;
}

.section-b__footer::before {
    display: block;
    content: '';
    width: 100%;
    height: 1px;

    background-color: rgba(150, 150, 150, 0.404);
    margin: auto;
}

.section-b__footer button {
    background-color: #2968C8;
    padding: 15px;
    border-radius: 5px;

    border: none;

    font-size: 15px;
    color: white;
    font-weight: 500;

    float: right;
    margin-top: 15px;
    margin-right: 60px;
}


